/* Navigation styles -------------------------------------------------------- */

$ss-black: rgba(0,0,0, 0.66);
$ss-white: rgba(255,255,255, 0.33);

.js-ss-prev,
.js-ss-next {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;

  &:after {
    transition: all 0.25s;
    position: absolute;
    display: block;
    content: " ";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:active, &:focus {
    outline-width: 0;
  }
}

.js-ss-prev {
  left: 0;

  &:after {
    border-width: 8px 16px 8px 0;
    border-color: transparent $ss-black transparent transparent;
  }

  &:hover:after { border-color: transparent $ss-white transparent transparent; }
}

.js-ss-next {
  right: 0;

  &:after {
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent $ss-black;
  }

  &:hover:after { border-color: transparent transparent transparent $ss-white; }
}

.ss-keyboard {
  .js-ss-prev,
  .js-ss-next {
    &:active,
    &:focus {
      outline: 2px dotted $ss-white;
      outline-offset: 1px;
    }
  }

  .js-ss-prev {
    &:active, &:focus {
      &:after {
        border-color: transparent $ss-white transparent transparent;
      }
    }
  }

  .js-ss-next {
    &:active, &:focus {
      &:after {
        border-color: transparent transparent transparent $ss-white;
      }
    }
  }
}

.js-ss-nav {
  display: inline-block;
  margin: 0;
  padding: 10px;
  line-height: 0;
  vertical-align: middle;
  text-align: center;

  li {
    transition: all 0.25s;
    position: relative;
    display: inline-block;
    width: 10px;
    height: 7px;
    padding: 4px;
    margin: 4px;
    list-style: none;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;

    &:hover:after {
      transition: all 0.25s;
      background-color: $ss-white;
    }

    &.active:after { background-color: $ss-white; }

    &:after {
      position: absolute;
      display: block;
      content: " ";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: $ss-black;
    }
  }
}

@media only screen and (max-width: 899px) {
  .js-ss-nav {
    padding: 6px;

    li {
      width: 6px;
      height: 4px;
      padding: 2px;
      margin: 2px;
      border-radius: 3px;
    }
  }

  .js-ss-prev, .js-ss-next {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .js-ss-nav {
    max-width: 75%;

    li:before {
      position: absolute;
      display: block;
      content: " ";
      left: -2px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      background-color: transparent;
    }
  }
}

.ss-nav-wrap {
  max-width: 45%;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 520px) {
  .ss-nav-wrap { max-width: 80%; }
}

/* Config ------------------------------------------------------------------- */

body .js-simple-slider {
  .js-ss,
  .js-ss-placeholder {
    max-width: 45%;
    width: 800px;
  }
}

@media only screen and (max-width: 520px) {
  body .js-simple-slider {
    .js-ss,
    .js-ss-placeholder {
      max-width: 80%;
    }
  }
}

.js-simple-slider {
  .js-ss-sl,
  .js-ss-sl-left,
  .js-ss-sl-right {
    filter: grayscale(100%);
  }

  .js-ss {
    li { transition: all 0.5s; }

    .js-ss-sl { opacity: 0; }
    .js-ss-sl-left, .js-ss-sl-right {
      opacity: 0.25;
      &:hover { opacity: 0.5; }
    }
    .js-ss-sl-current { opacity: 1; }

    img {
      transition: all 1s;
      border-radius: 20px;
    }

    .js-ss-sl-left,
    .js-ss-sl-right {
      img {
        transform: scale(0.5);
        border-radius: 40px;
      }
    }

    .js-ss-sl-left { left: -70%; }
    .js-ss-sl-right { left: 70%; }
  }
}

/* Simple slider ------------------------------------------------------------ */

.js-simple-slider {
  width: 100%;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
  }

  .js-ss,
  .js-ss-placeholder {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      list-style: none;
    }
  }

  .js-ss-placeholder {
    position: relative;
    white-space: nowrap;
    visibility: hidden;
    z-index: 1;

    li {
      display: inline-block;
      white-space: normal;
    }
  }

  .js-ss {
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    li {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .js-ss-sl { z-index: 1; }
    .js-ss-sl-left, .js-ss-sl-right {
      z-index: 2;
      cursor: pointer;
    }
    .js-ss-sl-current { z-index: 3; }
  }

  .js-ss-wrap {
    position: relative;
    text-align: center;
  }
}
