/* Config ------------------------------------------------------------------- */

.js-simple-slider {
  .js-ss,
  .js-ss-placeholder {
    max-width: 33.33%;
  }

  .js-ss {
    li { transition: opacity 0.5s, left 1s; }
    .js-ss-sl { opacity: 0; }
    .js-ss-sl-current { opacity: 1; }
    .js-ss-sl-left,
    .js-ss-sl-right {
      opacity: 0.5;
    }
    img {
      transition: all 1s;
      border-radius: 0.25rem;
    }
    .js-ss-sl-left,
    .js-ss-sl-right {
      img { transform: scale(0.5); }
    }

    .js-ss-sl-left { left: -75%; }
    .js-ss-sl-right { left: 75%; }
  }
}

/* Styles ------------------------------------------------------------------- */

.js-ss-nav {
  text-align: center;

  li {
    list-style: none;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    background-color: #000;

    &.active {
      background-color: #fff;
    }
  }
}

/* Simple slider ------------------------------------------------------------ */

.js-simple-slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .js-ss,
  .js-ss-placeholder {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      list-style: none;
    }
  }

  .js-ss-placeholder {
    position: relative;
    white-space: nowrap;
    visibility: hidden;
    z-index: 1;

    li {
      display: inline-block;
      white-space: normal;
    }
  }

  .js-ss {
    height: 100%;
    position: absolute;
    z-index: 2;

    li {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .js-ss-sl-left,
    .js-ss-sl-right {
      z-index: 2;
    }
    .js-ss-sl { z-index: 1; }
    .js-ss-sl-current { z-index: 3; }
  }

  .js-ss-wrap {
    position: relative;
    text-align: center;
  }
}
