/* Navigation styles -------------------------------------------------------- */
.js-ss-prev,
.js-ss-next {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.js-ss-prev:after,
.js-ss-next:after {
  transition: all 0.25s;
  position: absolute;
  display: block;
  content: " ";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.js-ss-prev:active, .js-ss-prev:focus,
.js-ss-next:active,
.js-ss-next:focus {
  outline-width: 0;
}

.js-ss-prev {
  left: 0;
}

.js-ss-prev:after {
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(0, 0, 0, 0.66) transparent transparent;
}

.js-ss-prev:hover:after {
  border-color: transparent rgba(255, 255, 255, 0.33) transparent transparent;
}

.js-ss-next {
  right: 0;
}

.js-ss-next:after {
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.66);
}

.js-ss-next:hover:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.33);
}

.ss-keyboard .js-ss-prev:active, .ss-keyboard .js-ss-prev:focus,
.ss-keyboard .js-ss-next:active,
.ss-keyboard .js-ss-next:focus {
  outline: 2px dotted rgba(255, 255, 255, 0.33);
  outline-offset: 1px;
}

.ss-keyboard .js-ss-prev:active:after, .ss-keyboard .js-ss-prev:focus:after {
  border-color: transparent rgba(255, 255, 255, 0.33) transparent transparent;
}

.ss-keyboard .js-ss-next:active:after, .ss-keyboard .js-ss-next:focus:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.33);
}

.js-ss-nav {
  display: inline-block;
  margin: 0;
  padding: 10px;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
}

.js-ss-nav li {
  transition: all 0.25s;
  position: relative;
  display: inline-block;
  width: 10px;
  height: 7px;
  padding: 4px;
  margin: 4px;
  list-style: none;
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.js-ss-nav li:hover:after {
  transition: all 0.25s;
  background-color: rgba(255, 255, 255, 0.33);
}

.js-ss-nav li.active:after {
  background-color: rgba(255, 255, 255, 0.33);
}

.js-ss-nav li:after {
  position: absolute;
  display: block;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.66);
}

@media only screen and (max-width: 899px) {
  .js-ss-nav {
    padding: 6px;
  }
  .js-ss-nav li {
    width: 6px;
    height: 4px;
    padding: 2px;
    margin: 2px;
    border-radius: 3px;
  }
  .js-ss-prev, .js-ss-next {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .js-ss-nav {
    max-width: 75%;
  }
  .js-ss-nav li:before {
    position: absolute;
    display: block;
    content: " ";
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    background-color: transparent;
  }
}

.ss-nav-wrap {
  max-width: 45%;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 520px) {
  .ss-nav-wrap {
    max-width: 80%;
  }
}

/* Config ------------------------------------------------------------------- */
body .js-simple-slider .js-ss,
body .js-simple-slider .js-ss-placeholder {
  max-width: 45%;
  width: 800px;
}

@media only screen and (max-width: 520px) {
  body .js-simple-slider .js-ss,
  body .js-simple-slider .js-ss-placeholder {
    max-width: 80%;
  }
}

.js-simple-slider .js-ss-sl,
.js-simple-slider .js-ss-sl-left,
.js-simple-slider .js-ss-sl-right {
  filter: grayscale(100%);
}

.js-simple-slider .js-ss li {
  transition: all 0.5s;
}

.js-simple-slider .js-ss .js-ss-sl {
  opacity: 0;
}

.js-simple-slider .js-ss .js-ss-sl-left, .js-simple-slider .js-ss .js-ss-sl-right {
  opacity: 0.25;
}

.js-simple-slider .js-ss .js-ss-sl-left:hover, .js-simple-slider .js-ss .js-ss-sl-right:hover {
  opacity: 0.5;
}

.js-simple-slider .js-ss .js-ss-sl-current {
  opacity: 1;
}

.js-simple-slider .js-ss img {
  transition: all 1s;
  border-radius: 20px;
}

.js-simple-slider .js-ss .js-ss-sl-left img,
.js-simple-slider .js-ss .js-ss-sl-right img {
  transform: scale(0.5);
  border-radius: 40px;
}

.js-simple-slider .js-ss .js-ss-sl-left {
  left: -70%;
}

.js-simple-slider .js-ss .js-ss-sl-right {
  left: 70%;
}

/* Simple slider ------------------------------------------------------------ */
.js-simple-slider {
  width: 100%;
  overflow: hidden;
}

.js-simple-slider img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}

.js-simple-slider .js-ss,
.js-simple-slider .js-ss-placeholder {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.js-simple-slider .js-ss li,
.js-simple-slider .js-ss-placeholder li {
  width: 100%;
  list-style: none;
}

.js-simple-slider .js-ss-placeholder {
  position: relative;
  white-space: nowrap;
  visibility: hidden;
  z-index: 1;
}

.js-simple-slider .js-ss-placeholder li {
  display: inline-block;
  white-space: normal;
}

.js-simple-slider .js-ss {
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.js-simple-slider .js-ss li {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.js-simple-slider .js-ss .js-ss-sl {
  z-index: 1;
}

.js-simple-slider .js-ss .js-ss-sl-left, .js-simple-slider .js-ss .js-ss-sl-right {
  z-index: 2;
  cursor: pointer;
}

.js-simple-slider .js-ss .js-ss-sl-current {
  z-index: 3;
}

.js-simple-slider .js-ss-wrap {
  position: relative;
  text-align: center;
}
